// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, div.price_line { 
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;

  form, div {
    display: inline;
  }
}

.carts, #side #cart { 
  .cart_title {
    font: 120% bold;
  }
  
  .item:_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}
